@font-face {
  font-family: 'SF Pro Display Black';
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BlackItalic';
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BoldItalic';
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display HeavyItalic';
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display LightItalic';
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display MediumItalic';
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display SemiboldItalic';
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display ThinItalic';
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display UltralightItalic';
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
.fade:not(.show) {
  opacity: 1; }

body {
  background: #F9F9F9;
  font-family: "SF Pro Display Regular"; }

.item-box .img-post {
  width: 100%;
  padding: 15px 15px 0 75px;
  border-radius: 8px; }
.item-box .mo-ta {
  line-height: 25px;
  margin-top: -10px;
  padding-left: 75px;
  padding-right: 20px;
  color: #333333;
  font-size: 14px; }
.item-box .title-post {
  position: relative;
  width: 100%;
  padding: 20px 20px 0 20px;
  display: inline-flex; }
  .item-box .title-post img {
    width: 40px;
    height: 40px;
    border-radius: 100px; }
  .item-box .title-post .tieu-de {
    margin: 5px 15px 0;
    font-weight: 700;
    color: #333333;
    font-size: 16px; }
  .item-box .title-post .time {
    margin-top: 4px;
    color: #777777 !important;
    color: #333333;
    font-size: 14px; }
  .item-box .title-post .dropdown.more-action {
    font-size: 20px;
    cursor: pointer;
    right: 2%;
    top: 20%;
    position: absolute; }
    .item-box .title-post .dropdown.more-action .dropdown-content {
      display: block;
      right: 0;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .item-box .title-post .dropdown.more-action .dropdown-content a {
        color: #333333;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        font-size: 14px; }
        .item-box .title-post .dropdown.more-action .dropdown-content a:hover:hover, .item-box .title-post .dropdown.more-action .dropdown-content a:hover:focus {
          color: #E66B4B;
          text-decoration: none;
          outline: none; }
.item-box .tuongtac {
  display: inline-flex;
  padding: 20px 0 10px 75px; }
  .item-box .tuongtac a {
    font-size: 14px;
    color: #777777;
    margin-right: 40px; }
    .item-box .tuongtac a:hover, .item-box .tuongtac a:focus {
      color: #E66B4B;
      text-decoration: none;
      outline: none; }
    .item-box .tuongtac a i {
      font-size: 16px;
      margin: 0 5px; }
.item-box .binhluan {
  padding: 15px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #E9E9EB; }
.item-box .binhluan {
  position: relative; }
  .item-box .binhluan i {
    margin-right: 5px; }
  .item-box .binhluan p {
    cursor: pointer; }
  .item-box .binhluan .mo-ta {
    padding-left: 56px; }
    .item-box .binhluan .mo-ta p {
      margin: 0; }
    .item-box .binhluan .mo-ta a {
      color: #777777;
      font-size: 12px;
      text-decoration: none; }
    .item-box .binhluan .mo-ta .ykien {
      padding: 0px;
      border: 1px solid #E9E9EB;
      border-radius: 6px; }
  .item-box .binhluan .title-post {
    padding: 0; }
  .item-box .binhluan .like {
    color: #777777;
    text-decoration: none;
    display: grid;
    position: absolute;
    right: 2%;
    top: 27%;
    font-size: 13px; }
.item-box .traloi-BL img {
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 100px; }
.item-box .traloi-BL input {
  outline: none;
  width: 90%;
  border: 1px solid #E9E9EB;
  background-color: #F9F9F9;
  padding: 5px;
  color: #777777; }
.item-box .ykien {
  background-color: #F9F9F9;
  border-top: 1px solid #E9E9EB;
  padding: 15px 0 15px 15px; }
  .item-box .ykien input {
    border: 0;
    outline: none;
    width: 90%;
    border: 0;
    background-color: transparent;
    margin-left: 10px;
    color: #777777; }

.item-box {
  overflow: hidden;
  margin: 20px 0;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  border-radius: 6px; }

.hoidap {
  margin-top: 30px;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "SF Pro Display Regular"; }

.content-right .modal-danhgia .modal-dialog {
  height: 100vh;
  position: absolute; }
.content-right .modal-danhgia .modal-header {
  display: block; }
  .content-right .modal-danhgia .modal-header .close {
    float: left;
    font-size: 38px;
    font-weight: normal;
    margin-right: 20px; }
    .content-right .modal-danhgia .modal-header .close:hover {
      outline: 0; }
.content-right .modal-danhgia .modal-title {
  color: #333333 !important;
  font-size: 26px !important; }
.content-right .modal-danhgia span {
  color: #333333;
  font-size: 16px;
  margin: 10px; }
.content-right .modal-danhgia .modal-dialog {
  transform: translate(0, 0%);
  margin: 0; }
  .content-right .modal-danhgia .modal-dialog .modal-content {
    height: 100vh;
    width: 833px;
    background-color: #F9F9F9;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
    .content-right .modal-danhgia .modal-dialog .modal-content .btn-vietdanhgia {
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      width: 150px;
      max-width: 150px;
      margin-left: 15px;
      background-color: #C4C4C4; }
    .content-right .modal-danhgia .modal-dialog .modal-content .tieude-modal {
      display: flex; }
.content-right .modal-danhgia .modal-body .list-star {
  display: flex;
  margin: 15px 15px 0; }
.content-right .modal-danhgia .modal-body .bg-star {
  margin-right: 3px;
  background: #c4c4c4;
  border-radius: 1px;
  padding: 9px; }
  .content-right .modal-danhgia .modal-body .bg-star:hover {
    background-color: #E66B4B; }
.content-right .modal-danhgia .modal-body .vietdanhgia {
  overflow: hidden; }
  .content-right .modal-danhgia .modal-body .vietdanhgia textarea {
    height: 170px;
    outline: none;
    margin-top: 20px;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #E9E9EB;
    border-radius: 6px; }
  .content-right .modal-danhgia .modal-body .vietdanhgia .gui-danhgia {
    float: right;
    margin-top: 15px;
    margin-bottom: 25px; }
    .content-right .modal-danhgia .modal-body .vietdanhgia .gui-danhgia .btn-guidanhgia {
      margin-left: 10px;
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      width: 150px;
      max-width: 150px; }
.content-right .modal-danhgia .modal-body .tuongtac a {
  color: #777777;
  margin: 0 15px 0 0; }
  .content-right .modal-danhgia .modal-body .tuongtac a span {
    font-size: 14px;
    margin: 0; }
.content-right .modal-danhgia .modal-body .item-box .binhluan {
  border-top: 0; }
.content-right .modal-danhgia .modal-body .item-box .list-star .bg-star {
  padding: 5px !important; }
.content-right .modal-danhgia .modal-body .item-box .mo-ta .traloi-NX a {
  color: #E66B4B; }
.content-right .modal-danhgia .modal-body .item-box .mo-ta p {
  margin-bottom: 0;
  display: flex; }
  .content-right .modal-danhgia .modal-body .item-box .mo-ta p a {
    display: block;
    position: unset; }
    .content-right .modal-danhgia .modal-body .item-box .mo-ta p a span {
      margin-left: 0;
      font-size: 14px;
      color: #777777; }
.content-right .modal-danhgia .modal-body .xemthem-danhgia {
  background-color: #E66B4B;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 0;
  width: 150px;
  max-width: 150px;
  font-size: 14px;
  width: 195px;
  max-width: 215px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #E9E9EB;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateX(150%); }
  .content-right .modal-danhgia .modal-body .xemthem-danhgia:focus {
    outline: none; }

.modal-post .modal-content {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  border: 0;
  border-radius: 0;
  box-shadow: none; }
  .modal-post .modal-content .modal-body {
    display: flex;
    align-items: center;
    padding: 0 20px; }
  .modal-post .modal-content .item-box {
    margin: 0;
    height: 100%; }
    .modal-post .modal-content .item-box .ykien {
      outline: none;
      background-color: transparent;
      border: 0; }
      .modal-post .modal-content .item-box .ykien input {
        border: 1px solid #E9E9EB;
        background-color: #f9f9f9;
        padding: 10px; }
  .modal-post .modal-content .modal-header {
    border: 0;
    display: block; }
    .modal-post .modal-content .modal-header .close {
      float: left;
      font-size: 38px;
      font-weight: normal;
      color: white; }
      .modal-post .modal-content .modal-header .close:focus {
        outline: none; }
.modal-post .modal-dialog {
  transform: translate(0, -26px) !important;
  height: 100vh;
  position: absolute;
  max-width: 100%; }

.scrollbar-danhgia {
  overflow: scroll;
  height: 545px; }
  .scrollbar-danhgia .item-box:first-child {
    margin-top: 0; }

#style-4::-webkit-scrollbar {
  width: 2px; }

#style-4::-webkit-scrollbar-thumb {
  background-color: #E66B4B; }

/* xem tat ca hinh anh */
.slide-img #sync1 .item {
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }
.slide-img #sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer; }
  .slide-img #sync2 .item h1 {
    font-size: 18px; }
.slide-img #sync2 .current .item {
  background: #0c83e7; }
.slide-img .owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */ }
  .slide-img .owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease; }
    .slide-img .owl-theme .owl-nav [class*='owl-'].disabled:hover {
      background-color: #D6D6D6; }
.slide-img #sync1.owl-theme {
  position: relative; }
  .slide-img #sync1.owl-theme .owl-next, .slide-img #sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%; }
  .slide-img #sync1.owl-theme .owl-prev {
    left: 10px; }
  .slide-img #sync1.owl-theme .owl-next {
    right: 10px; }
.slide-img .modal-dialog {
  position: unset; }

/* end xem tat ca hinh anh */
.modal-backdrop.in {
  opacity: 0.8; }

/* edit home*/
.menu-left {
  margin: 20px 0; }
  .menu-left ul {
    padding: 0; }
    .menu-left ul li {
      list-style: none;
      margin: 30px 0; }
      .menu-left ul li.active a {
        color: #E66B4B; }
      .menu-left ul li i {
        margin-right: 10px; }
      .menu-left ul li a {
        white-space: nowrap;
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        font-weight: bold; }

.center-home .stt textarea {
  position: relative;
  height: 75px;
  outline: none;
  padding: 15px 15px 15px 70px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E9E9EB; }
  .center-home .stt textarea::placeholder {
    color: #777777; }
.center-home .stt .ava-post {
  position: absolute;
  left: 30px;
  top: 35px; }
.center-home .stt .action-post {
  overflow: hidden;
  padding: 10px 20px; }
  .center-home .stt .action-post p {
    float: left; }
  .center-home .stt .action-post a {
    margin: 10px; }
  .center-home .stt .action-post button {
    float: right;
    background: rgba(230, 107, 75, 0.5);
    border-radius: 40px;
    color: #fff;
    border: 0;
    padding: 10px 30px; }
.center-home .td-timkiem {
  margin-top: 20px; }
.center-home .suggest-ls .xemthem-ls {
  text-align: center;
  color: #E66B4B;
  display: block;
  padding: 0px 0 20px 0;
  text-decoration: none; }
.center-home .suggest-ls .list-ls {
  border-bottom: 1px solid #E9E9EB; }
.center-home .suggest-ls .list-right h4 {
  padding-left: 20px;
  font-size: 26px; }
.center-home .suggest-ls .list-right ul {
  padding-left: 20px; }
  .center-home .suggest-ls .list-right ul .tongnx {
    color: #777777;
    text-decoration-line: underline;
    font-size: 13px;
    margin-left: 5px; }
  .center-home .suggest-ls .list-right ul .ten {
    font-weight: bold; }
  .center-home .suggest-ls .list-right ul .diachi {
    margin-top: -5px;
    color: #777777; }
.center-home .list-news ul {
  overflow: hidden; }
  .center-home .list-news ul .col-news {
    display: flex; }
  .center-home .list-news ul img {
    position: absolute;
    right: 20px;
    width: 160px;
    height: 90px; }
  .center-home .list-news ul p {
    padding-left: 0;
    font-size: 14px;
    font-weight: 700; }
  .center-home .list-news ul .mota-tt {
    color: #777777;
    font-weight: normal; }

.list-right {
  margin: 20px 0;
  border-bottom: 1px solid #E9E9EB; }
  .list-right p {
    padding-left: 35px;
    color: #333333;
    font-size: 18px;
    font-weight: 700; }
    .list-right p span {
      color: #E66B4B; }
    .list-right p i {
      font-size: 20px;
      margin-right: 5px; }
  .list-right ul li {
    list-style: none;
    margin: 30px 0; }
    .list-right ul li a {
      color: #333333;
      line-height: 24px;
      text-decoration: none;
      font-size: 14px;
      display: flex; }
      .list-right ul li a img {
        margin-right: 15px;
        width: 40px;
        height: 40px; }

.list-ls {
  border-bottom: 0; }
  .list-ls ul li {
    margin: 15px 0;
    min-height: 92px; }
  .list-ls .rating-ls {
    display: inline-grid; }
    .list-ls .rating-ls span {
      color: #E66B4B;
      font-size: 14px; }
    .list-ls .rating-ls p {
      color: #333333;
      padding-left: 0;
      font-weight: normal;
      font-size: 14px; }

/*# sourceMappingURL=dung.css.map */
