$color-text:#333333;
$color-breadcrumb:#777777;
$bg-gray:#E9E9EB;
$brand:#E66B4B;
$font-primary: 'SF Pro Display Regular';

@font-face {
    font-family: 'SF Pro Display Black';
    src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Bold';
    src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display BlackItalic';
    src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display BoldItalic';
    src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Heavy';
    src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display HeavyItalic';
    src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display LightItalic';
    src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Medium';
    src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Light';
    src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display MediumItalic';
    src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Regular';
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display RegularItalic';
    src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display SemiboldItalic';
    src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Semibold';
    src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Thin';
    src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display ThinItalic';
    src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display UltralightItalic';
    src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap; }
  @font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap; }

    .fade:not(.show) {
        opacity: 1;
    }
body{
    background: #F9F9F9;
    font-family: $font-primary;
}
@mixin hover {
    &:hover, &:focus{
        color: $brand;
        text-decoration: none;
        outline: none;
    }
   
}
@mixin bg-border {
    overflow: hidden;
    margin: 20px 0;
    background: #FFFFFF;
    border: 1px solid #E9E9EB;
    border-radius: 6px;
    
}
@mixin tieu-de {
    font-weight: 700;
    color: $color-text;
    font-size: 16px;
    
}
@mixin mo-ta {
    color: $color-text;
    font-size: 14px;
    
}
.item-box{
    .img-post {
        width: 100%;
        padding: 15px 15px 0 75px;
        border-radius: 8px;
    }
    .mo-ta{

        line-height: 25px;
        margin-top: -10px;
        padding-left: 75px;
        padding-right: 20px;
        @include mo-ta();
    }
    .title-post{ 

        position: relative;
        width: 100%;
        padding: 20px 20px 0 20px;
        display: inline-flex;
       img{
           width: 40px;
           height: 40px;
           border-radius:100px;
       }
        .tieu-de{
            margin: 5px 15px 0;
            @include tieu-de();
        }
        .time{
            margin-top: 4px;
            color: $color-breadcrumb!important;
            @include mo-ta();
        }
        .dropdown.more-action{
            font-size: 20px;
            cursor: pointer;
            right: 2%;
            top: 20%;
            position: absolute;
            .dropdown-content{
                display: block;
                right: 0;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
               
                a{
                    color:$color-text;
                    padding: 10px 15px;
                    text-decoration: none;
                    display: block;
                    font-size: 14px;
                    &:hover{
                        @include hover();
                    }
                }
            }
        }
    }
    .tuongtac{
        display: inline-flex;
        padding: 20px 0 10px 75px;
        a{
            font-size: 14px;
           color: $color-breadcrumb;
            margin-right: 40px;
            @include hover();
            i{
                font-size: 16px;
                margin: 0 5px;
            }
        }
    }
    .binhluan {
        padding: 15px;
        border-left: none;
        border-right: none;
        border-top: 1px solid #E9E9EB;
    }
    .binhluan{
        position: relative;
        i{
            margin-right: 5px;
        }
        p{
            cursor: pointer;
        }
        .mo-ta{
            padding-left: 56px;
            p{
                margin: 0;
            }

            a{
                color:$color-breadcrumb;
                font-size: 12px;
                text-decoration: none;
            }
            .ykien{
                padding: 0px;
                border: 1px solid #E9E9EB;
                border-radius: 6px;
                
             
            }
            
        }
        .title-post{
            padding: 0;
        }
        .like{
            color: $color-breadcrumb;
            text-decoration: none;
            display: grid;
            position: absolute;
            right: 2%;
            top: 27%;
            font-size: 13px;
        }
        
    }
    .traloi-BL{
        img{
            padding: 5px;
            width: 35px;
            height: 35px;
            border-radius:100px;
        }
        input{
            outline: none;
            width: 90%;
            border:1px solid #E9E9EB;
            background-color: #F9F9F9;
            padding: 5px;
            color: $color-breadcrumb;
        }
    }
    .ykien{
    background-color: #F9F9F9;
    border-top: 1px solid #E9E9EB;
    padding: 15px 0 15px 15px;
        input{
            border: 0;
            outline: none;
            width: 90%;
            border: 0;
            background-color: transparent;
            margin-left: 10px;
            color: $color-breadcrumb;
        }
    }
   
}
.item-box{
    @include bg-border();
}

.hoidap{
    margin-top: 30px;
    color: $color-text;
    font-size: 26px;
    font-weight: bold;
    font-family: $font-primary;
}
@mixin btn-common {
    background-color: $brand;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 28px;
    border-radius:0;
    width: 150px;
    max-width: 150px;
   
    
} 

.content-right{
    .modal-danhgia{
        .modal-dialog{
            height: 100vh;
    position: absolute;
        }
        .modal-header{
            display: block;
            .close{
                float: left;
                font-size: 38px;
                font-weight: normal;
                margin-right: 20px;
                &:hover{
                    outline: 0;
                }
            }
        }
        .modal-title{
            color: $color-text!important;
            font-size: 26px!important;
        
        }
        span{
            color: $color-text;
            font-size: 16px;
            margin: 10px;
        }
        .modal-dialog{
            transform: translate(0, 0%);
            margin: 0;
            .modal-content{
                height: 100vh;
                width: 833px;
                background-color: #F9F9F9;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                .btn-vietdanhgia{
                    @include btn-common();
                    margin-left: 15px;
                    background-color: #C4C4C4;
                }
                .tieude-modal{
                    display: flex;
                }
            }
        }
        .modal-body{
            .list-star{
                display: flex;
                margin: 15px 15px 0;
            }
            .bg-star{
                margin-right: 3px;
                background: #c4c4c4;
                border-radius: 1px;
                padding: 9px;
                &:hover{
                    background-color: $brand;
                }
            }
            .vietdanhgia{
                overflow: hidden;
                textarea{
                    height: 170px;
                   outline: none;
                margin-top:20px;
                padding: 15px 20px;
                width: 100%;
                border: 1px solid #E9E9EB;
                border-radius: 6px;
               }
               .gui-danhgia{
                   float: right;
                   margin-top: 15px;
                   margin-bottom: 25px;
                   .btn-guidanhgia{
                    margin-left: 10px;
                       @include btn-common();
                   }
               }
            }
            .tuongtac{
                a{
                    color: $color-breadcrumb;
                margin: 0 15px 0 0;
                    span{
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }
            .item-box{
                .binhluan{
                    border-top:0;
                }
                .list-star{
                .bg-star{
                    padding: 5px!important;
                }
            }
            .mo-ta{
                .traloi-NX{
                    a{
                        color: $brand;
                    }
                    
                }
                p{
                    margin-bottom: 0;
                    display: flex;
                    a{
                        display: block;
                        position: unset;
                        span{
                            margin-left: 0;
                            font-size: 14px;
                            color: $color-breadcrumb;
                        }
                    }
                }
            }
            }
            .xemthem-danhgia{
                @include btn-common();
                font-size: 14px;
                width: 195px;
                max-width: 215px;
                color: #333333;
                background-color: #ffffff;
                border: 1px solid #E9E9EB;
                position: absolute;
                -ms-transform: translateY(-50%);
                transform: translateX(150%);
                &:focus{
                    outline: none;
                }
            }
           
        }
    }
    
}
.modal-post {
    .modal-content{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    .modal-body{
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .item-box{
        margin: 0;
        height: 100%;
        .ykien{
        outline: none;
        background-color: transparent;
        border: 0;
    input{
        border: 1px solid #E9E9EB;
        background-color: #f9f9f9;
        padding: 10px;
    }
        }
    }
    .modal-header{
        border: 0;
        display: block;
     .close{
        float: left;
        font-size: 38px;
        font-weight: normal;
        color: white;
        &:focus{
            outline: none;
        }
     }   
    }
    
    }
    .modal-dialog{
        transform: translate(0,-26px)!important;
        height: 100vh;
        position: absolute;
        max-width: 100%;
        
    }
}
.scrollbar-danhgia{
    overflow: scroll;
    height: 545px;
    .item-box:first-child{
        margin-top: 0;
    }
}

#style-4::-webkit-scrollbar
{
	width: 2px;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: $brand;
}

/* xem tat ca hinh anh */
@mixin slide-img {
    #sync1 {
        .item {
          background: #0c83e7;
          padding: 80px 0px;
          margin: 5px;
          color: #FFF;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-align: center;
        }
      }
      
      #sync2 {
        .item {
          background: #C9C9C9;
          padding: 10px 0px;
          margin: 5px;
          color: #FFF;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-align: center;
          cursor: pointer;
          h1 {
            font-size: 18px;
          }
        }
        .current .item{
          background: #0c83e7;
        }
      }
      
      
      
      .owl-theme {
        .owl-nav {
          /*default owl-theme theme reset .disabled:hover links */
          [class*='owl-'] {
            transition: all .3s ease;
            &.disabled:hover {
             background-color: #D6D6D6;
            }   
          }
          
        }
      }
      
      //arrows on first carousel
      #sync1.owl-theme {
        position: relative;
        .owl-next, .owl-prev {
          width: 22px;
          height: 40px;
          margin-top: -20px;
          position: absolute;
          top: 50%;
        }
        .owl-prev {
          left: 10px;
        }
        .owl-next {
          right: 10px;
        }
      }
}
.slide-img {
    @include slide-img();
    .modal-dialog{
        position: unset;
    }
}
/* end xem tat ca hinh anh */
.modal-backdrop.in {
    opacity: 0.8;
}

/* edit home*/

.menu-left{
    margin: 20px 0;
    ul{
        padding: 0;
        li{
            list-style: none;
            margin: 30px 0;
            &.active {
                a{
                    color: $brand;
                }
                
            }
            i{
                margin-right: 10px;
            }
            a{
                white-space: nowrap;
                text-decoration: none;
                color: $color-text;
                font-size: 16px;
                font-weight: bold;
               
            }
        }
    }
}
.center-home{
    
    .stt{
       
        textarea{
            position: relative;
            height: 75px;
            outline: none;
            padding: 15px 15px 15px 70px;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #E9E9EB;
            &::placeholder{
                color: $color-breadcrumb;
        }
    }
    .ava-post{
        position: absolute;
    left: 30px;
    top: 35px;
    }
    .action-post{
        overflow: hidden;
    padding: 10px 20px;
        p{
            float: left;
        }
        a{
            margin: 10px;
        }
        button{
            float: right;
            background: rgba(230, 107, 75, 0.5);
            border-radius: 40px;
            color: #fff;
            border: 0;
            padding: 10px 30px;
        }
    }
}
.td-timkiem{
    margin-top:20px;
}
.suggest-ls{
    .xemthem-ls{
        text-align: center;
        color: $brand;
        display: block;
        padding: 0px 0 20px 0;
        text-decoration: none;
    }
    .list-ls{
        border-bottom: 1px solid #E9E9EB;
    }
    .list-right{
        
        h4{
            padding-left: 20px;
            font-size: 26px;
        }
        ul{
            padding-left: 20px;
            .tongnx{
                color: $color-breadcrumb;
                text-decoration-line: underline;
                font-size:13px;
                margin-left: 5px;
            }
           .ten{
               font-weight: bold;
           }
            .diachi{
                margin-top: -5px;
                color: $color-breadcrumb;
            }
        }
    }
}
.list-news{
    
    ul{
       
        overflow:hidden;
        .col-news{
            display: flex;
        }
       img{
        position: absolute;
        right: 20px;
           width: 160px;
           height: 90px;
       }
        p{
            padding-left: 0;
            font-size:14px;
            font-weight: 700;
        }
        .mota-tt{
            color: $color-breadcrumb;
            font-weight: normal;
        }
    }
}
}
.list-right{
    margin: 20px 0;
    border-bottom: 1px solid #E9E9EB;
    p{
        padding-left: 35px;
        color: $color-text;
        font-size: 18px;
        font-weight: 700;
        span{
            color: $brand;
        }
        i{
            font-size: 20px;
            margin-right: 5px;
        }
    }
    ul{
        li{
            
            list-style: none;
            margin: 30px 0;
            a{
                color: $color-text;
                line-height: 24px;
                text-decoration: none;
                font-size:14px;
                display: flex;
                img{
                    margin-right: 15px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
.list-ls{
    border-bottom: 0;
    ul{
        li{
            margin: 15px 0;
            min-height: 92px;
        }
    }
    .rating-ls{
        display: inline-grid;
        span{
            color: $brand;
            font-size: 14px;
        }
        p{
            color: $color-text;
            padding-left: 0;
            font-weight: normal;
            font-size: 14px;
        }
    }
}