@font-face {
  font-family: 'SF Pro Display Black';
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BlackItalic';
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BoldItalic';
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display HeavyItalic';
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display LightItalic';
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display MediumItalic';
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display SemiboldItalic';
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display ThinItalic';
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display UltralightItalic';
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
body {
  background: #F9F9F9;
  font-family: "SF Pro Display Regular"; }

.header-top {
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
  min-height: 70px; }
  .header-top .search-box {
    margin: 0 100px;
    width: 80%;
    position: relative; }
    .header-top .search-box input {
      width: 100%;
      border: 0;
      background: #F3F3F3;
      border-radius: 130px;
      padding: 0 10px;
      font-size: 17px;
      height: 50px;
      outline: none;
      padding-left: 70px;
      color: #777777; }
    .header-top .search-box i {
      position: absolute;
      transform: rotateY(180deg);
      top: 30%;
      left: 3%;
      font-size: 17px;
      color: #606060; }
  .header-top .login {
    display: inline-flex; }
    .header-top .login .noti {
      margin-top: 5px; }
      .header-top .login .noti .glyphicon-bell {
        position: relative;
        font-size: 30px;
        color: #777777; }
      .header-top .login .noti .number-noti {
        position: absolute;
        left: 30px;
        top: -2px;
        font-size: 11px;
        color: #ffffff;
        background: #E66B4B;
        padding: 2px 4px;
        border-radius: 50%; }
    .header-top .login .account {
      margin-left: 65px;
      display: inline-flex; }
      .header-top .login .account p {
        font-size: 16px;
        color: #333333;
        margin: 10px; }
      .header-top .login .account i {
        margin-top: 10px; }

.banner {
  margin-top: 25px;
  overflow: hidden;
  position: relative; }

.box-contact, .contact .contact-left, .contact .contact-right {
  border-bottom: 1px solid #E9E9EB;
  background: white;
  display: inline-block;
  width: 100%;
  min-height: 167px; }

.contact {
  overflow: hidden; }
  .contact .col-md-8 {
    padding-right: 0; }
  .contact .col-md-4 {
    padding-left: 0; }
  .contact .contact-left {
    border-left: 1px solid #E9E9EB;
    border-radius: 0 0 0 6px; }
  .contact .detail-contact {
    margin-left: 30%;
    padding-top: 20px; }
    .contact .detail-contact .postion-name {
      color: #777777;
      font-size: 16px;
      margin-bottom: 0; }
    .contact .detail-contact .name {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 32px;
      color: #333333; }
    .contact .detail-contact span {
      line-height: 186.3%;
      color: #313843;
      font-size: 16px;
      margin-left: 18px; }
  .contact .ava {
    position: absolute;
    margin-bottom: 26px;
    margin-left: 20px;
    bottom: 52px; }
    .contact .ava img {
      width: 175px;
      height: 175px;
      border-radius: 50%; }
  .contact .contact-right {
    border-right: 1px solid #E9E9EB;
    border-radius: 0 0 6px 0;
    padding-left: 40%; }
    .contact .contact-right .btn1 {
      margin-bottom: 20px;
      margin-top: 30px; }
      .contact .contact-right .btn1 .btn-phone {
        background: #FFFFFF;
        border: 1px solid #777777;
        box-sizing: border-box;
        padding: 10px 34px;
        text-decoration: none; }
        .contact .contact-right .btn1 .btn-phone img {
          margin-bottom: 5px; }
        .contact .contact-right .btn1 .btn-phone .call {
          margin-left: 7px;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #777777; }
    .contact .contact-right .btn2 {
      margin-top: 25px; }
      .contact .contact-right .btn2 .btn-chat {
        background: #E66B4B;
        padding: 10px 42px;
        text-decoration: none; }
        .contact .contact-right .btn2 .btn-chat .chat {
          margin-left: 7px;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }

.xemthem, .xemchitiet a, .xemtatca a {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline; }

.xemchitiet a {
  color: #E66B4B; }

.xemtatca a {
  color: #ffffff;
  position: absolute;
  z-index: 999;
  bottom: 30px;
  left: 10px; }

.box-starrating {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  padding: 28px 20px 20px 28px;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  box-sizing: border-box;
  border-radius: 6px; }
  .box-starrating .list-star {
    display: inline-flex; }
    .box-starrating .list-star .bg-star img {
      margin-right: 3px;
      background: #E8E8E8;
      border-radius: 1px;
      padding: 9px;
      text-decoration: none; }
  .box-starrating .number-rating {
    margin-left: 5px;
    float: right;
    font-family: "SF Pro Display Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 146.3%;
    color: #777777; }
  .box-starrating .text-rating {
    font-family: "SF Pro Display Regular";
    font-size: 14px;
    line-height: 146.3%;
    text-align: left;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 16px; }
  .box-starrating .about p {
    font-size: 13px;
    line-height: 186.3%;
    text-align: justify;
    color: #333333; }
  .box-starrating .about h5 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    text-align: justify;
    color: #333333; }
  .box-starrating .view-catelogy {
    text-align: center; }
    .box-starrating .view-catelogy .btn-view {
      font-size: 13px;
      color: #E66B4B;
      text-decoration: none; }
      .box-starrating .view-catelogy .btn-view i {
        color: #E66B4B; }
  .box-starrating .thumnails {
    position: relative;
    padding-top: 103%;
    display: block;
    overflow: hidden;
    margin-bottom: 10px; }
    .box-starrating .thumnails img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .box-starrating .box-wrapper {
    text-align: center; }
    .box-starrating .box-wrapper a {
      font-size: 13px;
      line-height: 176.3%;
      text-align: center;
      color: #353F60;
      text-decoration: none; }
  .box-starrating .content {
    text-align: center; }
    .box-starrating .content p {
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      color: #676767;
      margin-bottom: 0; }
    .box-starrating .content a {
      white-space: nowrap;
      text-decoration: none; }
      .box-starrating .content a span {
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        color: #313843; }
  .box-starrating .chiduong {
    position: absolute;
    display: flex;
    left: 69%;
    bottom: 84%; }
    .box-starrating .chiduong a {
      font-size: 14px;
      color: #E66B4B;
      margin-left: 2px;
      text-decoration: none; }

@media (max-width: 991px) {
  .header-top .search-box {
    width: 100%;
    margin: 10px 0; }

  .banner .contact-right {
    margin-left: 20px; }
  .banner .contact .contact-left {
    display: inline-block; }
  .banner .contact .detail-contact {
    margin-left: 20px; }

  .box-starrating .thum-img {
    margin: 0 5px 5px 0; }
  .box-starrating .inner-box {
    display: inline-flex;
    margin: 0 10px 0px 0; }
    .box-starrating .inner-box .content {
      margin-left: 10px; }
  .box-starrating .chiduong {
    bottom: 13%;
    left: 70%; } }

/*# sourceMappingURL=hanh.css.map */
