@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?fcac4097e1bae9f6b888f7c8aad2b2e1") format("truetype"),
url("./flaticon.woff?fcac4097e1bae9f6b888f7c8aad2b2e1") format("woff"),
url("./flaticon.woff2?fcac4097e1bae9f6b888f7c8aad2b2e1") format("woff2"),
url("./flaticon.eot?fcac4097e1bae9f6b888f7c8aad2b2e1#iefix") format("embedded-opentype"),
url("./flaticon.svg?fcac4097e1bae9f6b888f7c8aad2b2e1#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cmt:before {
    content: "\f101";
}
.flaticon-like:before {
    content: "\f102";
}
.flaticon-share:before {
    content: "\f103";
}
